/* Основное */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Верхняя панель */
.navbar {
    display: flex;
    background: #eee;
    padding: 10px;
    gap: 20px;
    border-bottom: 2px solid #ccc;
}

.navbar button {
    background: #ddd;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar button:hover {
    background: #ccc;
}

/* Карта */
.map-container {
    width: 100%;
    height: calc(100vh - 60px);
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Модалки */
.modal-bg {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 330px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.player-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.modal button {
    margin-top: 10px;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
}

textarea {
    width: 100%;
    resize: none;
    padding: 6px;
    font-size: 16px;
}
