<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Карта администрации</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>

<div class="navbar">
    <a href="{{ url_for('logout') }}">Выйти</a>
    <button onclick="openBanPlayersModal()">Бан игрока</button>
    <button onclick="openPlayersModal()">Кик игрока</button>
</div>

<div class="map-container">
    <iframe src="http://localhost:8123"></iframe>
</div>

<div id="playersModal" class="modal-bg">
    <div class="modal">
        <h3>Выберите игрока</h3>

        <div id="playersList">Загрузка...</div>

        <button onclick="closePlayersModal()">Назад</button>
    </div>
</div>

<div id="reasonModal" class="modal-bg">
    <div class="modal">
        <h3>Причина кика</h3>

        <form method="POST" action="/kick_player">
            <input type="hidden" name="player" id="kickPlayerName">

            <textarea name="reason" rows="3" placeholder="Причина..." required></textarea>

            <button type="submit">Кикнуть</button>
            <button type="button" onclick="closeReasonModal()">Назад</button>
        </form>
    </div>
</div>

<div id="banPlayersModal" class="modal-bg">
    <div class="modal">
        <h3>Выберите игрока</h3>

        <div id="banPlayersList">Загрузка...</div>

        <button onclick="closeBanPlayersModal()">Назад</button>
    </div>
</div>

<div id="banReasonModal" class="modal-bg">
    <div class="modal">
        <h3>Бан игрока</h3>

        <form method="POST" action="/ban_player">
            <input type="hidden" name="player" id="banPlayerName">

            <textarea name="reason" rows="3" placeholder="Причина бана" required></textarea>

            <label>Срок:</label>
            <select name="duration">
                <option value="permanent">Навсегда</option>
                <option value="1h">1 час</option>
                <option value="1d">1 день</option>
                <option value="7d">7 дней</option>
                <option value="30d">30 дней</option>
            </select>

            <br><br>
            <button type="submit">Забанить</button>
            <button type="button" onclick="closeBanReasonModal()">Назад</button>
        </form>
    </div>
</div>




</body>
</html>
